.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgb(8, 24, 23);
}
.calendar {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  background-image: url("https://images.unsplash.com/photo-1513297887119-d46091b24bfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgba(8, 20, 16, 0.6);

  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 1em;
}

.door p {
  font-size: 2em;
  color: #f2f2f2;
}

.door:hover {
  background-color: rgba(18, 43, 54, 0.9);
}

.dooropen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: rgb(8, 24, 23, 0.8);
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 1em;
  text-align: center;
}

.dooropen p {
  color: #f2f2f2;
  width: 80%;
}
